* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.todolist {
    width: 90%;
    border: 1px solid rgba(6, 0, 83, 0.3);
    border-radius: 5px;
    padding: 10px;
    margin:20px auto 0 auto;
}

.task-list {
    border: 1px solid rgba(0, 0, 0, 0.192);
    display: flex;
    padding: 5px 0;
}

.task-text {
    flex-grow: 1;
    margin: 0;
}

.task-button {
    color: grey;
    margin: 0 5px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 5px;
    background-color: transparent;
} 

.task-text_transparent {
    color: rgba(0, 0, 0, 0.1);
    text-decoration: line-through;

}

.task-set_flex {
    display: flex;
    margin-left: 2em;
}
.task-set_input {
    flex-grow: 1;
    padding: 5px 0;
}

.task-input {
flex-grow: 1;
outline: 1px dotted rgba(0, 30, 202, 0.2);
}

.task-list > input {
    display: none;
}

.task-select {
    display: none;
} 

.editMode > input {
    display: block; 
    border: none;
}

.editMode > label {
    display: none;
}

.editMode > select {
    display: inline-block;
}

.editMode > .priority {
    display: none;
}

.priority {
    margin: 0 10px 0 0;
    width: 125px;
    font-size: 17px;
}
.checkButton {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0 5px;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.checkedButton {
    border: none;
    background-color: rgba(0, 0, 0, 0.1)
}

/* .red {
    background-color: rgba(255, 0, 0, 0.4);
}

.green {
    background-color: rgba(0, 128, 0, 0.4);
} */